#contact {
    height: 70vh;
    background-color: #E6FAFC;
}

input, textarea {
    width: 40%;
    border: transparent;
}

#submit {
    background-color: #05204A;
    color: white;
    border: none;
    border-radius: 3px;
}

#submit:hover {
    opacity: 0.8;
}