.header-scheme {
    color: #E6FAFC;
    background-color: #05204A;
    height: 20vh;
}

.nav-links {
    text-decoration: none;
    color: #E6FAFC;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-links:hover {
    opacity: 0.5;
}

.nav-links:active {
    color: #4F7CAC;
}